In [93]:
import glob
import random
from gym import Env
from gym.spaces import Discrete, Box
import numpy as np
import pandas as pd
import joblib
from numpy.lib.stride_tricks import sliding_window_view

## Add ratio control to dataset builder

In [285]:
def empGen(num_shifts,num_emps=False,ratio=False):
    if ratio:
        #e.g (3,5)
        lower= round(num_shifts / ratio[1])
        upper= round(num_shifts / ratio[0])

        i = 0
        employee_id = []
        e = random.randint(lower, upper)
        if num_emps:
            for i in range(num_emps):
                employee_id.append(''.join(np.random.randint(9,size=(6)).astype('str')))
        else:
            for i in range(e):
                employee_id.append(''.join(np.random.randint(9,size=(6)).astype('str')))

        if len(employee_id) == 1:
            employee_id.append(''.join(np.random.randint(9,size=(6)).astype('str')))
        
    else:    
        i = 0
        lower = round(num_shifts / 2.8)
        upper = round(num_shifts / 1.2)
        employee_id = []
        e = random.randint(lower, upper)
        if num_emps:
            for i in range(num_emps):
                employee_id.append(''.join(np.random.randint(9,size=(6)).astype('str')))
        else:
            for i in range(e):
                employee_id.append(''.join(np.random.randint(9,size=(6)).astype('str')))
    
    return employee_id

In [305]:
shifts = 10
emps = empGen(shifts,num_emps=False,ratio=(3,5))

print(shifts / len(emps))
print(emps)

3.3333333333333335
['781505', '764723', '510627']

In [ ]:
def buildTestSet(n,min_shifts,max_shifts,num_emps=False,ratio=False):
    while i < n:
        try:
            schedule, pool = randomProblem(min_shifts=min_shifts,max_shifts=max_shifts,num_emps=num_emps,ratio=ratio)

            tstst = sorted(glob.glob("scheduling_problems/test_set/*.csv"))

            if tstst:
                id = int(tstst[-1].split('/')[2].split('_')[1].split('.')[0]) + 1
        
            else:
                id = 1

            ratio = len(schedule) / len(pool)

            if ratio > 1 and ratio < 3:
                i += 1
                schedule, pool = schedule.to_csv(f'scheduling_problems/test_set/schedule_{str(id).zfill(2)}.csv',index=False), \
                            pool.to_csv(f'scheduling_problems/test_set/pool_{str(id).zfill(2)}.csv',index=False) 
        
            else:
                continue
        
        except ValueError as verror:
            print(verror)
            break

        except NameError as nerror:
            print(nerror)
            break

        except:
            continue

In [208]:
num_shifts = 4
lower = round(num_shifts / 5)
upper = round(num_shifts / 2)
print(lower, upper)

1 2

## Fix test set lists

In [141]:
shifts_easy_ratio_mixed = [1,2,3,4,5]

test_set_lists = ['shifts_easy_ratio_mixed']

for i in test_set_lists:
    print(i)
    print(sum(eval(i)))

shifts_easy_ratio_mixed
15

In [138]:
subdir='shifts_medium_ratio_mixed'
tstst = sorted(glob.glob(f"scheduling_problems/test_set/{subdir}/*.csv"))

tstst[0]

'scheduling_problems/test_set/shifts_medium_ratio_mixed/pool_01.csv'

In [139]:
tstst = sorted(glob.glob(f"scheduling_problems/test_set/{subdir}/*.csv"))

tpi  = pd.DataFrame(columns=['Schedule','shifts', 'Pool', 'employees','nodes','ratio'])

for i in range(int(len(tstst)/2)):
    pool = tstst[i]
    schedule = tstst[i+(int(len(tstst) / 2))]

    pool, schedule = pd.read_csv(pool,dtype={'employee_id':'str'}), \
                pd.read_csv(schedule,dtype={'shift_id':'str'})
    
    Schedule = tstst[i].split('/')[3].split('_')[1].split('.')[0]
    shifts = int(len(schedule))
    Pool = tstst[i+(int(len(tstst) / 2))].split('/')[3].split('_')[1].split('.')[0]
    employees = int(len(pool))
    nodes = shifts + employees 
    ratio = shifts / employees

    tpi.loc[0 if pd.isnull(tpi.index.max()) else tpi.index.max() + 1] = [Schedule] + [shifts] + [Pool] + [employees] + [nodes] + [ratio]

tpi

   Schedule shifts Pool employees nodes     ratio
0        01     13   01         5    18  2.600000
1        02     11   02         4    15  2.750000
2        03     14   03         8    22  1.750000
3        04      9   04         7    16  1.285714
4        05     12   05         7    19  1.714286
5        06      9   06         7    16  1.285714
6        07     11   07         6    17  1.833333
7        08     10   08         4    14  2.500000
8        09     11   09         6    17  1.833333
9        10     13   10         5    18  2.600000
10       11     10   11         6    16  1.666667
11       12     14   12         5    19  2.800000
12       13     13   13         6    19  2.166667
13       14     10   14         6    16  1.666667
14       15     11   15         5    16  2.200000
15       16     14   16         5    19  2.800000
16       17     10   17         8    18  1.250000
17       18     12   18         8    20  1.500000
18       19     13   19         7    20  1.857143
19       20     11   20         4    15  2.750000
20       21     13   21        10    23  1.300000
21       22      9   22         5    14  1.800000
22       23     14   23         5    19  2.800000
23       24     14   24        11    25  1.272727
24       25     12   25         7    19  1.714286
25       26     10   26         5    15  2.000000
26       27     10   27         5    15  2.000000
27       28     11   28         6    17  1.833333
28       29      9   29         5    14  1.800000
29       30      9   30         6    15  1.500000
30       31     14   31         6    20  2.333333
31       32     10   32         4    14  2.500000
32       33     14   33         5    19  2.800000
33       34     10   34         5    15  2.000000
34       35     14   35         7    21  2.000000
35       36     14   36        11    25  1.272727
36       37     10   37         7    17  1.428571
37       38      9   38         5    14  1.800000
38       39     13   39        11    24  1.181818
39       40     13   40         9    22  1.444444
40       41     11   41         9    20  1.222222
41       42      9   42         6    15  1.500000
42       43     13   43        11    24  1.181818
43       44     14   44        11    25  1.272727
44       45     14   45         7    21  2.000000
45       46     11   46         9    20  1.222222
46       47     10   47         7    17  1.428571
47       48     10   48         5    15  2.000000
48       49     12   49         8    20  1.500000
49       50     14   50         5    19  2.800000

In [130]:
max_shifts_per_day = 2
shift_day_of_week = []
days = ['Monday','Tuesday','Wednesday','Thursday','Friday']

shift_id = [1,2,3,4]
i=0
while i < len(shift_id):
#for i in range(len(shift_id)):
    choice = random.choice(days)
    print(choice)
    if shift_day_of_week.count(choice) < max_shifts_per_day + 1:
        shift_day_of_week.append(choice)
        i+=1
    print(i)


shift_day_of_week

Tuesday
1
Thursday
2
Friday
3
Thursday
4

['Tuesday', 'Thursday', 'Friday', 'Thursday']

In [116]:
test_data  = pd.DataFrame(columns=['problem','reward', 'model', 'seed'])
test_data.to_csv('test_data/test_data.csv',index=False)

## ENV TESTING

In [160]:
class SchedulingEnv(Env):
    """A personnel scheduling environment for OpenAI gym"""

    def __init__(self, pool, schedule, reward_type):
        sfEncodings = joblib.load('shiftFeatureEncoding.joblib')
        shifts = pd.get_dummies(schedule[['shift_id']],drop_first=True)
        sfEncoded =  sfEncodings.transform(schedule[['shift_day_of_week','shift_type']])
        shift_features = pd.DataFrame(sfEncoded, columns=sfEncodings.get_feature_names_out())
        schedule = pd.merge(shifts, shift_features, left_index=True, right_index=True)

        self.shift_features = schedule.shape[1]
        # OR self.shift_features = shift_features.shape[1]

        for i in pd.get_dummies(pool).columns.to_list():
            schedule[i] = 0
        
        self.schedule = schedule
        self.state = self.schedule.to_numpy()

        # sf_index may not be needed here
        sf_start = len(schedule)-1
        sf_end = schedule.shape[1] - len(pool)
        self.sf_index = (sf_start,sf_end)

        self.count_workers = len(pool)
        self.count_shifts = len(schedule)
        self.shift_number = 0
        self.reward_type = reward_type
        self.reward_step = 0
        self.cummulative_reward = 0
        self.cummulative_violations = 0
        
        # action space: Employees we can assign to shifts
        self.action_space = Discrete(self.count_workers)
        # observation space: the latest state matrix
        self.observation_space = Box(low=0, high=1, shape=(self.state.shape[0], self.state.shape[1]),\
                                     dtype=np.float64)


    def evaluateStep(self):
        """Check the last 2 shift assignments for constraint violations.
        For each employee, compare successive shifts.
        If an employee is assigned to b2b shifts, look up the relevant features.
        If the shifts are on the same day, record a constraint violation
        If the shifts are on successive days, evening then morning, records a constraint  violation.
        Else, no constraint violation.

        :param state: state matrix
        :type state: numpy.array
        :return: count of constraint violations
        :rtype: int
        """
        count_b2b_violation = 0

        for i in range(self.count_workers):
            assignments = self.state[self.reward_step-1:self.reward_step+1,self.shift_features:][:,i]
            if sum(assignments) > 1:
                shift_feats = self.state[self.reward_step-1:self.reward_step+1,self.count_shifts-1:self.shift_features]

                # just the features for day of week
                day_feats_1 = self.state[self.reward_step-1,self.count_shifts-1:self.shift_features-1]
                day_feats_2 = self.state[self.reward_step,self.count_shifts-1:self.shift_features-1]
                day1 = [np.where(day_feats_1==1)[0].item() + 2 if np.where(day_feats_1==1)[0].size != 0 else 1][0]
                day2 = [np.where(day_feats_2==1)[0].item() + 2 if np.where(day_feats_2==1)[0].size != 0 else 1][0]
                
                # shifts are on the same day = violation
                if day1 == day2:
                    count_b2b_violation += 1
                    #print(f"shift:{self.reward_step},employee:{i}, constraint1 violated")
                
                # if shifts are on successive days, evening -> morning = violation
                if day2 == day1+1:
                    # if shift 1 type = evening and shift 2 type = morning, record violation
                    count_b2b_violation += [1 if shift_feats[:,4][0] == 1 and shift_feats[:,4][1] == 0 else 0][0]
                    #if [1 if shift_feats[:,4][0] == 1 and shift_feats[:,4][1] == 0 else 0][0] == 1:
                        #print(f"shift:{self.reward_step},employee:{i}, constraint2 violated")

        return count_b2b_violation

    def evaluateSchedule(self):
        """Check a completed schedule for constraint violations.
        For each employee, apply sliding window to compare successive shifts.
        If an employee is assigned to b2b shifts, look up the relevant features.
        If the shifts are on the same day, record a constraint violation
        If the shifts are on successive days, evening then morning, records a constraint  violation.
        Else, no constraint violation.

        :param state: state matrix
        :type state: numpy.array
        :return: count of constraint violations
        :rtype: int
        """
        count_b2b_violation = 0

        for i in range(self.count_workers):
            # using sliding window to compare successive shifts
            # checks = a list of pairwise binary shift assignment features, from last - first
            checks = sliding_window_view(self.state[:,self.shift_features+i], 2)[::-1]
            #print(checks)
            # for each check
            for j,k in enumerate(checks):
                shift_id = abs(j - len(checks))-1
                # check for b2b shifts
                # 1 = assigned, 0 = not assigned, 2 = b2b
                if sum(k) > 1:
                    #print(f"employee:{i}, shift:{shift_id},{k}")
                    # get features for b2b shifts
                    shift_feats = self.state[shift_id:shift_id+2,self.count_shifts-1:self.shift_features]

                    # just the features for day of week
                    day_feats_1 = self.state[shift_id,self.count_shifts-1:self.shift_features-1]
                    day_feats_2 = self.state[shift_id+1,self.count_shifts-1:self.shift_features-1]
                    day1 = [np.where(day_feats_1==1)[0].item() + 2 if np.where(day_feats_1==1)[0].size != 0 else 1][0]
                    day2 = [np.where(day_feats_2==1)[0].item() + 2 if np.where(day_feats_2==1)[0].size != 0 else 1][0]
                    
                    # shifts are on the same day = violation
                    if day1 == day2:
                        count_b2b_violation += 1
                        #print(f"shift:{shift_id+1},employee:{i}, constraint1 violated")
                    
                    # if shifts are on successive days, evening -> morning = violation
                    if day2 == day1+1:
                        # if shift 1 type = evening and shift 2 type = morning, record violation
                        count_b2b_violation += [1 if shift_feats[:,4][0] == 1 and shift_feats[:,4][1] == 0 else 0][0]
                        #if [1 if shift_feats[:,4][0] == 1 and shift_feats[:,4][1] == 0 else 0][0] == 1:
                            #print(f"shift:{shift_id+1},employee:{i}, constraint2 violated")

        return count_b2b_violation

In [189]:
i = ('scheduling_problems/test_set/shifts_extrahard_ratio_mixed/pool_39.csv', 'scheduling_problems/test_set/shifts_extrahard_ratio_mixed/schedule_39.csv')

pool, schedule = pd.read_csv(f'{i[0]}',dtype={'employee_id':'str'}), \
                pd.read_csv(f'{i[1]}',dtype={'shift_id':'str'})

print(len(pool))
print(len(schedule))

14
19

In [190]:
schedule['shift_day_of_week'] = schedule['shift_day_of_week'].replace(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],[1, 2, 3, 4, 5])
schedule['shift_type'] = schedule['shift_type'].replace(['Morning', 'Evening'],[1, 2])

env = SchedulingEnv(pool, schedule, reward_type='Step_Bonus')

In [191]:
env.state

array([[0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0.,
        0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0.,
        0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 1.,
        0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 1., 1., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 1., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 1., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 1., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 1., 1., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0.]])

In [192]:
env.state = np.array([[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,],
                      [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0,],
                      [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,],
                      [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,],
                      [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,],
                      [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,],
                      [0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,]])

In [193]:
count_b2b_violation = env.evaluateSchedule()
count_b2b_violation

0

In [168]:
env.count_shifts

7

In [171]:
reward = 1 - (count_b2b_violation / (env.count_shifts-1))
reward

-0.16666666666666674

In [184]:
reward = (.5/(self.count_shifts-1)) - (count_b2b_violation * (1/(self.count_shifts-1)))

0.16666666666666666

In [185]:
(.5/(7-1))

0.08333333333333333

In [188]:
1 * (1/(7-1))

0.16666666666666666

In [174]:
total=0
for i in range(count_b2b_violation):
    reward = (1/(env.count_shifts-1)) - (2 * (1/(env.count_shifts-1)))
    print(reward)
    total+=reward

total

-0.16666666666666666
-0.16666666666666666
-0.16666666666666666
-0.16666666666666666

-0.6666666666666666

## test problem list

In [83]:
def testProbList(subset):
    test_set = sorted(glob.glob(f"scheduling_problems/test_set/{subset}/*.csv"))
    test_index = pd.read_csv(f"scheduling_problems/test_set_indexes/testproblemindex_{subset}.csv")
    problist = []

    for i in range(len(test_index)):
        s = str(int(test_index.iloc[i]['Schedule'])).zfill(2)
        p = str(int(test_index.iloc[i]['Pool'])).zfill(2)

        sp = f"scheduling_problems/test_set/{subset}/schedule_{s}.csv"
        pp = f"scheduling_problems/test_set/{subset}/pool_{p}.csv"

        problist.append((sp,pp))

    return problist

In [117]:
str(i[0].split('_')[-1].split('.')[0] + i[1].split('_')[-1].split('.')[0])

'0101'

In [84]:
for i in testProbList('shifts_easy_ratio_mixed'):
    print(i[0])

scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_01
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_02
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_03
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_04
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_05
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_06
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_07
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_08
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_09
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_10
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_11
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_12
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_13
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_14
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_15
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_16
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_17
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_18
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_19
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_20
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_21
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_22
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_23
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_24
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_25
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_26
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_27
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_28
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_29
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_30
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_31
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_32
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_33
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_34
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_35
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_36
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_37
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_38
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_39
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_40
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_41
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_42
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_43
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_44
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_45
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_46
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_47
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_48
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_49
scheduling_problems/test_set/shifts_easy_ratio_mixed/schedule_50

In [72]:
test_index.iloc[0]#['Schedule']
s = str(int(test_index.iloc[0]['Schedule'])).zfill(2)
p = str(int(test_index.iloc[0]['Pool'])).zfill(2)

dir=''
sp = f"scheduling_problems/test_set/{dir}/schedule_{s}"
pp = f"scheduling_problems/test_set/{dir}/pool_{p}"

(sp,pp)

'scheduling_problems/test_set//schedule_01'

In [69]:
test_set[51]

'scheduling_problems/test_set/schedule_02.csv'

In [54]:
test_set = sorted(glob.glob("scheduling_problems/test_set/*.csv"))
test_index = pd.read_csv("scheduling_problems/testproblemindex.csv")
test_index

for i in range(len(test_index):
    test_index.iloc
    {str(id).zfill(2)}

    Schedule  shifts  Pool  employees  nodes     ratio
0          1       3     1          2      5  1.500000
1          2       3     2          2      5  1.500000
2          3       7     3          3     10  2.333333
3          4       3     4          2      5  1.500000
4          5       7     5          4     11  1.750000
5          6       5     6          4      9  1.250000
6          7       6     7          3      9  2.000000
7          8       8     8          3     11  2.666667
8          9       5     9          4      9  1.250000
9         10       8    10          4     12  2.000000
10        11       7    11          5     12  1.400000
11        12       5    12          2      7  2.500000
12        13       5    13          4      9  1.250000
13        14       7    14          6     13  1.166667
14        15       5    15          4      9  1.250000
15        16       8    16          5     13  1.600000
16        17       5    17          2      7  2.500000
17        18       6    18          5     11  1.200000
18        19       8    19          7     15  1.142857
19        20       6    20          3      9  2.000000
20        21       7    21          4     11  1.750000
21        22       4    22          3      7  1.333333
22        23       6    23          5     11  1.200000
23        24       5    24          3      8  1.666667
24        25       6    25          4     10  1.500000
25        26       3    26          2      5  1.500000
26        27       6    27          4     10  1.500000
27        28       8    28          4     12  2.000000
28        29       5    29          2      7  2.500000
29        30       8    30          7     15  1.142857
30        31       8    31          5     13  1.600000
31        32       3    32          2      5  1.500000
32        33       3    33          2      5  1.500000
33        34       6    34          5     11  1.200000
34        35       3    35          2      5  1.500000
35        36       3    36          2      5  1.500000
36        37       7    37          6     13  1.166667
37        38       5    38          4      9  1.250000
38        39       6    39          4     10  1.500000
39        40       8    40          6     14  1.333333
40        41       4    41          2      6  2.000000
41        42       8    42          6     14  1.333333
42        43       3    43          2      5  1.500000
43        44       8    44          3     11  2.666667
44        45       7    45          6     13  1.166667
45        46       4    46          3      7  1.333333
46        47       3    47          2      5  1.500000
47        48       4    48          3      7  1.333333
48        49       6    49          5     11  1.200000
49        50       7    50          3     10  2.333333

In [53]:
loadTestProblem(num_shifts=False)

('scheduling_problems/test_set/pool_01.csv',
 'scheduling_problems/test_set/schedule_01.csv')

In [50]:
def loadTestProblem(n=False, num_shifts=False):
    tstst = sorted(glob.glob("scheduling_problems/test_set/*.csv"))

    try:
        if num_shifts:
            shfts = 0
            while not shfts == num_shifts:
                n = random.randint(1, (len(tstst) / 2))
                p = tstst[n-1]
                s = tstst[n+(int(len(tstst) / 2)-1)]

                schedule = pd.read_csv(f'{tstst[n+(int(len(tstst) / 2)-1)]}',dtype={'shift_id':'str'})
                if len(schedule) == num_shifts:
                    shfts = num_shifts

        else:
            n = random.randint(1, (len(tstst) / 2))
            p = tstst[n-1]
            s = tstst[n+(int(len(tstst) / 2)-1)]

        return (p,s)

    except ValueError as verror:
        print(verror)
        

    except NameError as nerror:
        print(nerror)
        

    except:
        print(f"No problem with {num_shifts} shifts.")

In [23]:
def testProblemIndex():
    tstst = sorted(glob.glob("scheduling_problems/test_set/*.csv"))

    tpi  = pd.DataFrame(columns=['Schedule','shifts', 'Pool', 'employees','nodes','ratio'])

    for i in range(int(len(tstst)/2)):
        pool = tstst[i]
        schedule = tstst[i+(int(len(tstst) / 2))]

        pool, schedule = pd.read_csv(pool,dtype={'employee_id':'str'}), \
                    pd.read_csv(schedule,dtype={'shift_id':'str'})
        
        Schedule = tstst[i].split('/')[2].split('_')[1].split('.')[0]
        shifts = int(len(schedule))
        Pool = tstst[i+(int(len(tstst) / 2))].split('/')[2].split('_')[1].split('.')[0]
        employees = int(len(pool))
        nodes = shifts + employees 
        ratio = shifts / employees

        tpi.loc[0 if pd.isnull(tpi.index.max()) else tpi.index.max() + 1] = [Schedule] + [shifts] + [Pool] + [employees] + [nodes] + [ratio]

    sdf = df.groupby(['shifts']).agg({
    'shifts': 'count',
    'nodes': 'mean',
    'ratio': 'mean',
    'employees': 'mean'
        })

    sdf.columns =['count','avg_nodes','avg_ratio','avg_employees']


    return tpi, sdf

In [39]:
 df = testProblemIndex()
 df

   Schedule shifts Pool employees nodes     ratio
0        01      3   01         2     5  1.500000
1        02      3   02         2     5  1.500000
2        03      7   03         3    10  2.333333
3        04      3   04         2     5  1.500000
4        05      7   05         4    11  1.750000
5        06      5   06         4     9  1.250000
6        07      6   07         3     9  2.000000
7        08      8   08         3    11  2.666667
8        09      5   09         4     9  1.250000
9        10      8   10         4    12  2.000000
10       11      7   11         5    12  1.400000
11       12      5   12         2     7  2.500000
12       13      5   13         4     9  1.250000
13       14      7   14         6    13  1.166667
14       15      5   15         4     9  1.250000
15       16      8   16         5    13  1.600000
16       17      5   17         2     7  2.500000
17       18      6   18         5    11  1.200000
18       19      8   19         7    15  1.142857
19       20      6   20         3     9  2.000000
20       21      7   21         4    11  1.750000
21       22      4   22         3     7  1.333333
22       23      6   23         5    11  1.200000
23       24      5   24         3     8  1.666667
24       25      6   25         4    10  1.500000
25       26      3   26         2     5  1.500000
26       27      6   27         4    10  1.500000
27       28      8   28         4    12  2.000000
28       29      5   29         2     7  2.500000
29       30      8   30         7    15  1.142857
30       31      8   31         5    13  1.600000
31       32      3   32         2     5  1.500000
32       33      3   33         2     5  1.500000
33       34      6   34         5    11  1.200000
34       35      3   35         2     5  1.500000
35       36      3   36         2     5  1.500000
36       37      7   37         6    13  1.166667
37       38      5   38         4     9  1.250000
38       39      6   39         4    10  1.500000
39       40      8   40         6    14  1.333333
40       41      4   41         2     6  2.000000
41       42      8   42         6    14  1.333333
42       43      3   43         2     5  1.500000
43       44      8   44         3    11  2.666667
44       45      7   45         6    13  1.166667
45       46      4   46         3     7  1.333333
46       47      3   47         2     5  1.500000
47       48      4   48         3     7  1.333333
48       49      6   49         5    11  1.200000
49       50      7   50         3    10  2.333333