In [2]:
import pandas as pd

In [12]:
datafolder = '/Users/benplatten/workspace/UvA_Thesis/UvA_MSc_Thesis/dev/schedules/'
datafolder2 = '/Users/benplatten/workspace/UvA_Thesis/UvA_MSc_Thesis/dev/pools/'
schedule = 'schedule_0003.csv'
pool = 'pool_0003.csv'

In [14]:
pool,schedule = pd.read_csv(datafolder2+pool),pd.read_csv(datafolder+schedule)

In [15]:
pool

   employee_id
0       508579
1       248509
2       123098
3       146890

In [16]:
schedule

   shift_id shift_day_of_week shift_type
0         0            Monday    morning
1         1            Monday    evening
2         2           Tuesday    morning
3         3           Tuesday    evening
4         4         Wednesday    morning
5         5         Wednesday    evening
6         6          Thursday    morning
7         7          Thursday    evening