In [1]:
import pandas as pd

In [2]:
datafolder = '../dev/schedules/'
schedule = 'simple_schedule.csv'
pool = 'simple_pool.csv'

In [3]:
pool,schedule = pd.read_csv(datafolder+pool),pd.read_csv(datafolder+schedule)

In [4]:
pool

   employee_id
0       508579
1       248509

In [5]:
schedule

   shift_id shift_day_of_week shift_type
0         0            Monday    morning
1         1            Monday    evening
2         2           Tuesday    morning
3         3           Tuesday    evening