In [1]:
import pandas as pd
import pickle

In [2]:
cols_of_interest=["repository_timestamp",
                "op",
                "dms_timestamp",
                "id",
                "shift_id",
                "start_date_time",
                "end_date_time",
                "realized_start_date_time",
                "realized_end_date_time",
                "employee_id",
                "pool_employee_id",
                 "pool_id",
                 "confirmed_date_time", # level of interest doubtfull
                 "called_up_date_time",
                 "decl_to_erp_system_date_time",
                 "accept_by_employee_date_time",
                 "viewable_for_emp_date_time",
                 "deleted_date_time"]

In [3]:
filename = '../data/iplan_employee_in_shift_20220214-20220218.pkl' 
newfilename = '../data/iplan_employee_in_shift_20220214-20220218.csv' 
pk = pd.read_pickle(filename)
pk.to_csv(newfilename,index=False)

df = pd.read_csv(newfilename,usecols=cols_of_interest,parse_dates=["repository_timestamp",
                "dms_timestamp",
                "start_date_time",
                "end_date_time",
                "realized_start_date_time",
                "realized_end_date_time",
                "decl_to_erp_system_date_time",
                "accept_by_employee_date_time",
                "viewable_for_emp_date_time",
                "deleted_date_time",
                "called_up_date_time"])
df.shape

/Users/benplatten/.pyenv/versions/3.7.2/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3418: DtypeWarning: Columns (54) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

(273866, 18)

In [4]:
df['shift_day_of_week'] = df['start_date_time'].dt.day_name()

In [5]:
df['start_date_time'].iloc[0]

Timestamp('2022-02-15 12:30:00')

In [6]:
df['start_date'] = df['start_date_time'].dt.date
df['end_date']= df['end_date_time'].dt.date
df['start_time'] = df['start_date_time'].dt.strftime('%H:%M')
df['end_time'] = df['end_date_time'].dt.strftime('%H:%M')

In [7]:
df[['start_date','end_time']]

        start_date end_time
0       2022-02-15    17:30
1       2022-02-16    14:30
2       2022-02-20    14:30
3       2022-02-16    14:30
4       2022-02-19    06:30
...            ...      ...
273861  2022-02-20    07:00
273862  2022-02-15    14:00
273863  2022-02-19    13:30
273864  2022-02-16    19:00
273865  2022-02-19    13:30

[273866 rows x 2 columns]

In [29]:
days = df[["shift_id","shift_day_of_week"]].groupby('shift_day_of_week').agg({'shift_day_of_week' : 'nunique', 
                                                                    'shift_day_of_week' : 'count',})

days.columns = ['
days['shifts_per_day'] =

shift_day_of_week
Friday       13297
Monday       13661
Saturday      4174
Sunday        3790
Thursday     13990
Tuesday      13873
Wednesday    13721
Name: shift_id, dtype: int64

In [7]:
len(df.columns)

19

In [27]:
df.to_csv('../data/iplan_sample.csv',index=False)